body {
    background-color: black;
    font-family: 'Teko', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Добавлено для вертикального выравнивания */
    height: 100vh;
    /* Чтобы контейнер был по центру на всю высоту экрана */
}

h1 {
    margin-bottom: 5px;
    margin-top: 10px;
}

button {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: maroon;
    color: black;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* Элементы располагаются один под другим */
    align-items: center;
    /* Центрирование элементов по горизонтали */
    padding: 20px;
    border-radius: 10px;
}

.slider-container {
    display: flex;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-right: 10px;
    /* Добавлено для отступа между ползунком и значением */
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
}

#sliderValue {
    display: flex;
    margin-left: 10px;
}

#result {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}